@import "./components/dashboard/dashboard-styles.scss";
@import "./components/shell/shell-styles.scss";
@import "./components/global/info-widget/styles.scss";
@import "./components/global/controls/styles.scss";

$shell_main_bg: #fff;

html, body {
	background-color: $shell_main_bg;	
	margin: 0px;
	padding: 0px;
	font-family: 'Doppio One', sans-serif;
	text-transform: uppercase;
}

* {
	margin: 0px;
	letter-spacing: 1.3px;
}

h2::after {
	content: '';
	width: 100%;
	height: auto;
	border: 1px solid #c4b316;
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

/*FOCUS*/
*:focus {
	outline: dashed;
}

/*-------------------------*/
/*UTILITY*/
/*-------------------------*/

/*SECTION BLOCKS*/
.sec-std {
	width: auto;
	height: auto;
	padding: 60px;
}

/*MARGIN*/
.my-sm {
	margin: 10px 0px;
}

.my-md {
	margin: 20px 0px;
}

.mt-sm {
	margin-top: 10px;
}

.mt-md {
	margin-top: 20px;
}

.mb-sm {
	margin-bottom: 10px;
}

.mb-md {
	margin-bottom: 20px;
}